@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd; /* Light background */
  color: #4b0082; /* Purple text */
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #4b0082; /* Purple text */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fdfdfd; /* Light background */
  border-bottom: 2px solid #dcdcdc;
}

.navbar-left {
  flex: 2;
  padding-left: 20px;
}

.navbar-left img {
  vertical-align: middle;
}

.navbar-right {
  flex: 0.4;
  display: flex;
  justify-content: center;
}

.navbar-right a {
  color: #4b0082; /* Purple text */
  text-decoration: none;
  margin: 0 20px;
}

.navbar-right a:hover {
  color: #ff0000; /* Red text on hover */
  text-decoration: underline;
}

.button {
  background-color: #4b0082; /* Purple button background */
  font-size: "Exo", serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #ff0000; /* Red button background on hover */
}